body {
    background-image: url("../images/hip-hop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

a {
    color: white;
}

a:hover {
    color: rgb(155, 240, 225);
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style: none;
    color: white;
    padding: 10px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: none;
}

.navbar-logo {
    fill: white;
    width: 89px;
    height: 27px;
}

.navbar-header {
    width: 90%;
    float: right;
}

.jumbotron {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}

.jumbotron-devices {
    color: white;
    background-color: rgb(35, 35, 35);
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
}

.btn-primary {
    background-color: #7c25f8;
    border: none;
    border-radius: 100px;
    width: 20%;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: rgb(98, 7, 227);
}

.item {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 40px;
}

.glyphicon {
    font-size: 40px;
}

.bg-white {
    background-color: white;
    color: black;
}

.text-aquamarine {
    color: rgb(155, 240, 225);
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.text-purple {
    color: rgb(124, 37, 248);
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.h2-text-purple {
    color: rgb(124, 37, 248);
    font-size: 40px;
    text-align: left;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    text-align: left;
    font-weight: bold;
}

.text-white-center {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
}

p {
    text-align: left;
    font-size: 12px;
    float: left;
}

.scroll-down1 {
    width: 25px;
    height: 15px;
    display: block;
    fill: #9bf0e1;
    margin: auto;
}

.scroll-down2 {
    width: 25px;
    height: 15px;
    display: block;
    fill: #9bf0e1;
    margin: auto;
}

.btn-scroll-arrow1 {
    background-color: white;
    display: block;
    width: 52px;
    height: 52px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 10px gray;
    transition: all 0.3s ease-in-out;
}

.btn-scroll-arrow1:hover {
    transform: scale(1.2);
}

.btn-scroll-arrow2 {
    background-color: white;
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    box-shadow: 10px gray;
    transition: all 0.3s ease-in-out;
}

.btn-scroll-arrow2:hover {
    transform: scale(1.2);
}

.albums {
    display: flex;
    flex-flow: row wrap;
}

#album-slot1,
#album-slot2,
#album-slot3,
#album-slot4 {
    margin: 1px;
}

.iphone {
    transform: rotate(30deg);
    display: block;
    height: auto;
    max-width: 100%;
}

.phone {
    display: block;
    height: auto;
    max-width: 100%;
    float: right;
}

.device-list {
    text-transform: uppercase;
    font-weight: bold;
}

.list:after {
    content: '-';
    padding-left: 14px;
    color: #7c25f8;
}

.list:last-child:after {
    content: ' ';
}

.price {
    font-weight: bold;
    float: right;
    margin-top: 0;
    font-size: 30px;
}

h3.text-aquamarine {
    float: left;
    font-size: 30px;
}

span.text-aquamarine {
    font-size: 20px;
}

.clearfix {
    border-bottom: 1px solid white;
    border-top: none;
}

ul.text-white {
    font-weight: bold;
    list-style: none;
    font-size: 30px;
    text-align: left;
    border-bottom: 1px solid white;
}

.download {
    background-color: #7c25f8;
    border: none;
    border-radius: 100px;
    width: 50%;
    font-size: 14px;
    float: left;
    margin-top: 30px;
    margin-bottom: 70px;
}

.download:hover {
    background-color: rgb(98, 7, 227);
}

.tour-variation {
    display: flex;
}

.details-subscriptions {
    font-weight: 700;
    display: block;
}

.subscriptions {
    padding-bottom: -50px;
    padding-top: -50px;
}

.subscribe {
    background-color: #7c25f8;
    border: none;
    border-radius: 100px;
    width: 60%;
    font-size: 14px;
    float: left;
    margin-top: 30px;
    margin-bottom: 70px;
}

.subscribe:hover {
    background-color: rgb(98, 7, 227);
}

.text-center.legal.text-white {
    font-size: 14px;
}

footer {
    background-color: #000;
    padding: 50px 0 20px;
}

h3.nav-title {
    color: #919496;
    font-size: 12px;
    letter-spacing: .08em;
    margin: 50px 0 22px;
    text-transform: uppercase;
}

ul.nav {
    display: block;
}

.footer-logo-social {
    fill: white;
    width: 89px;
    height: 27px;
}

.btn-logo-social {
    background-color: rgb(46, 47, 51);
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 60%;
}

nav.row.row-small {
    font-size: 12px;
    padding-top: 20px;
    color: gray;
}

ul.nav.nav-small {
    display: flex;
    color: gray;
}

.media-middle {
    color: gray;
}

.media-middle:hover {
    color: rgb(155, 240, 225);
    text-decoration: none;
}

.copyright {
    font-size: 12px;
    color: gray;
}